.frame {
  padding: 50px;
  border: 1px solid;
  position: relative;

  & h4 {
    -webkit-text-stroke: 1px #151514;
    color: transparent;
    font-size: 1em;
    font-family: "Monumental", sans-serif;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/icons/sparkler-black.svg);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    top: -26px;
    left: -23px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/icons/sparkler-black.svg);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    bottom: -26px;
    right: -28px;
  }
}
